.divrootAdP {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./2870157.jpg);
    height: auto;
    font-family: 'Times New Roman', Times, serif;
}

.containerAdP {
    margin-top: 57px;
}

.Add2 {
    width: 55px;
    height: 55px;
    margin-top: 12px;
    margin-left: 1700px;
}

.navbar.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.divide {
    margin-bottom: 10px;
}

.person {
    height: 50px;
    width: 50px;
    border-radius: 30px;
}

.arrow {
    height: 47px;
    width: 47px;
    margin-left: 20px;
}

.containerco {
    border-radius: 15px;
}