.divrootds {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./2870157.jpg);
    height: auto;  
    font-family: 'Times New Roman', Times, serif;
}

.navbar.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.containerds {
    height: auto;
    background-color: white;
    background-size: cover;
    width: 100%;
    margin-top: 100px;
    padding-left: 35px;
    padding-right: 35px;
}

.table {
    margin-top: 15px;
}



