.divrootVS {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

.button5 {
    height: 40px;
    width: 70px;
    background-color: black;
    color: white;
    font-size: 17px;
    margin-bottom: 15px;
}

.container3 {
    height: auto;
    background-size: cover;
    width: 100%;
    margin-top: 100px;
    padding-left: 35px;
    padding-right: 35px;
}

.imgview {
    height: 25px;
    width: 30px;
}

.imgedit {
    height: 25px;
    width: 60px;
}

.navbar.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.search{
    border-radius: 20px;
    margin-left: 50px;
    width: 200px;
    height: 35px; 
}